* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.cf:before, .cf:after, .clearfix:before, .clearfix:after { content: ""; display: table; }
.cf:after, .clearfix:after { clear: both; }

body { padding-top: 50px; }

.navbar input[type="text"] { height: 25px; line-height: 25px; margin-top: 7px; }
